section, p{
    text-align: center;
}
article{
    display: inline-block;
    border-top: solid 1px #005883 ;
    width: 100%;
    margin-bottom: 10px;
    padding-top: 10px;
}
article:nth-of-type(1){
    border: none;
}
article > h2{
    color: #005883;
}
article > p{
    margin: 0px;
}
article > img{
    height: 160px;
}

/* INTERMEDIA ---------------------*/
@media only screen and (min-width: 510px) {

    article{
        border: solid 1px #005883 ;
        border-radius: 10px;
        width: 430px;
        height: 160px;
        margin: 10px 0px;
        padding: 0px;
    }
    article:nth-of-type(1){
        border: solid 1px #005883 ;
    }
    article > img{
        height: 100%;
        float: left;
        margin-right: 10px;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
    }
    article > h2{
        margin: 20px;
    }
}
/* GRANDE -------------------------*/
@media only screen and (min-width: 800px) {
}

/* SUPER GRANDE -------------------*/
@media only screen and (min-width: 1200px) {
    
    article{
        margin: 10px;
    }
}